.chatflow-container {
  max-width: 100vw;
  height: calc(100vh - 100px);
  overflow-y: auto !important;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
}

.chatflow-header {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  background:var(--background-color);
  border-bottom: 1px solid #ccc;
  align-items: center;
}

.flow-title-input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chatflow-header button {
  background-color: #6c63ff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.chatflow-header button:hover {
  opacity: 0.9;
}

.chatflow-wrapper {
  flex: 1;
  position: relative;
}

.react-flow__renderer,
.react-flow__pane {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Modal styles */
._modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
._modal-content {
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  width: 90vw;
  max-width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}
.node-types-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin: 1rem 0;
}
.node-type-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: left;
  /* justify-content: center; */
  cursor: pointer;
  font-weight: bold;
  color: var(--background-color);
  padding: 1rem;
  border-radius: 6px;
  transition: transform 0.2s ease;
}
.node-type-label{
  font-size: 1.2rem;
  margin-left: 1rem;
}
.node-type-card:hover {
  transform: scale(1.05);
}
.node-type-card img {
  width: 30px;
  height: 30px;
  margin-bottom: 0.5rem;
}
.close-modal-btn {
  background-color: #aaa;
  color: #fff;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}
.close-modal-btn:hover {
  opacity: 0.9;
}
