.social-login-container {
    padding: 1rem;
    color: var(--text-color);
    background-color: var(--body-bg);
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: scroll;
  }
  
  .header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .header-section h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .header-section p {
    flex-grow: 1;
    margin: 0 1rem;
    font-style: italic;
  }
  
  .save-btn {
    background-color: var(--green);
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: 0.3s;
  }
  
  .save-btn:hover {
    background-color: var(--bright-green);
  }
  
  .social-section {
    background-color: var(--card-bg);
    box-shadow: 0 4px 10px var(--card-shadow);
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .section-header h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .toggle-switch {
    width: 50px;
    height: 24px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .toggle-switch.on {
    background-color: #0db04b;
  }
  
  .toggle-handle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.3s;
  }
  
  .toggle-switch.on .toggle-handle {
    left: 28px;
  }
  
  .social-section label {
    display: block;
    margin-top: 0.5rem;
    font-weight: bold;
  }
  
  .social-section input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.8rem;
    border: 1px solid var(--gray);
    border-radius: 4px;
    background-color: var(--background-color);
    color: var(--text-color);
    outline: none;
  }
  